version: 1.0.{build}
image:
  - Ubuntu
  - Visual Studio 2017
environment:
  matrix:
    - TensorflowVersion: 1.13.1
    - TensorflowVersion: 1.12.0
    - TensorflowVersion: 1.11.0
    - TensorflowVersion: 1.10.0
    - TensorflowVersion: 1.9.0
    - TensorflowVersion: 1.8.0
    - TensorflowVersion: 1.7.0
    #- TensorflowVersion: 1.6.0
    #- TensorflowVersion: 1.5.0
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
    - master
skip_branch_with_pr: true
configuration: Release
before_build:
  - cmd: dotnet restore
build:
  verbosity: minimal
  parallel: true
artifacts:
  - path: '**\*.nupkg'
nuget:
  disable_publish_on_pr: true
deploy:
  provider: NuGet
  api_key:
    secure: nNWiXk+ZiOOh5sHV/C9Z9pqZ8GFpaQFqAR/P0/t09h81Ppx3xed6VsWd4w7FMn2R
matrix:
  fast_finish: true
for:
  - matrix:
      only:
        - image: Ubuntu
    before_build:
      - cmd: dotnet restore test/TensorflowBinariesBuildTask.Tests/TensorflowBinariesBuildTask.Tests.csproj
    build:
      project: test/TensorflowBinariesBuildTask.Tests/TensorflowBinariesBuildTask.Tests.csproj
      verbosity: minimal
  - matrix:
      only:
        - image: Visual Studio 2017
